/* Next, set the duration of the height transition to .6 seconds. */
.collapsed {
    height: 0;
    overflow: hidden;
    transition-property: height;
    transition-duration: 0.6s;
}

.expand:checked ~ .collapsed {
    height: 34vh;
}