/* ================================= 
  Button Transitions
==================================== */

.button {
	color: #fff;
	background: #4a89ca;
	transition-duration: 0.4s;
	transition-property: background;
}

.button:hover {
	background-color: #d36a62;
}

.button:active {
	background-color: #a33830;
}

/* ================================= 
  Photo Overlay Transitions
==================================== */
